import './index.scss';
import React from 'react';

class <%= props.name %> extends React.Component {
  constructor(props) {
    super(props);
    this.state = {
      name: `<%= props.name %>`,
    }
  }

  render() {
    return <h1>Component {this.state.name}!</h1>
  }
};

export default <%= props.name %>;
